body
{
  background-color: white;
  color: black;
  font-family: dejavu sans, helvetica, sans-serif;
  font-size: 10pt;
  }

h1 { text-align: center }
h1, h2, h3, h4
{
  font-family: arial, helvetica, sans-serif;
}

/* Numérotation automatique des sections */

body { counter-reset: section; }

h2:before
{
  content: counter(section) ". ";
  counter-increment: section;
  }

h2
{
  counter-reset: sous-section;
  }


h3:before
{
  content: counter(section) "." counter(sous-section) ". ";
  counter-increment: sous-section;
  }

pre
{
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1em;
  padding-right: 1em;
  border: solid thin black;
  background-color: lightgrey;
  }

code
{
  background-color: lightgrey;
  }

kbd
{
  background-color: yellow;
  white-space: nowrap ;
  }

div.aremplir
{ 
  border: solid thin;
  margin-bottom: 2ex;
 }

table.aremplir
{
  width: 100%;
  margin-top: 1ex;
  margin-bottom: 2ex;
  border: solid;
  border-collapse: collapse;
  }
table.aremplir th, table.aremplir td
{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1ex;
  padding-bottom: 1ex;
  border: solid;
  }

div.exemple
{
  width: 60%;
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1ex;
  border: solid thin black;
  background-color: wheat;
  }

.centre
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

.hide { display: none }

p.travail
{ 
  text-decoration: underline;
  font-weight: bolder;
  font-family: cursive;
  }

.valid
{ 
  font-weight: bold;
  }

/* Impression  */
@media print {

  body {
         /* font-size: large; */
         orphans: 2;
         widows: 2;
         }

  h1, h2, h3, h4
  {
    page-break-after: avoid;
    }

  p, li
  {
    line-height: 120%;
    }

  .newpage {page-break-before: always}

  .annonce {page-break-after: avoid;}
  
  pre, img, table, div.exemple, div.aremplir {page-break-inside: avoid}

  img.ajuste { width: 100% }
}
