body {
  width: 80%;
  max-width: 500px;
  margin: auto;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 10px;
}

div {
  height: 30px;
}

input {
  
}

input:invalid {
  border-color: tomato;
  background-color: pink;
}