nav.burger  {
	position: fixed;
	top: 0px;
	transform: translateY(-100%);
	background-color: gray;
	width: 100%;
	height: 100%;
	transition: transform 0.2s;
	&.visible {
		transform: translateY(0%);
		transition: transform 0.2s;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px;
		list-style-type: none;
		margin: 0;

		li a {
			font-size: larger;
			display: block;
			padding: 10px 20px;
			border-radius: 5px;
			text-decoration: none;
			color: black;
			&active {
				background-color: white;
			}
			&:hover {
				background-color: #dddddd;
			}
		}
	}
}

.close-btn {
	display: block;
	text-align: right;
	padding: 10px;
	top: 5px;
	right: 20px;
	text-decoration: none;
	color: black;
	font-size: 40px;
	font-family: monospace;
	flex-basis: 100px;
}

.open-btn {
	font-size: 40px;
	text-decoration: none;
	color: black;
	margin: 20px;
}

@media screen and (min-width: 950px) {
	nav.burger {
		transform: none;
		background-color: inherit;
		width: auto;
		height: auto;
		top: 0;
		right: 0;
		transition: transform 0.2s;

		ul {
			flex-direction: row;
		}
	}

	nav .close-btn {
		display: none;
	}

	.open-btn {
		display: none;
	}
}